<h1><strong>Заказы</strong></h1>
<table class="table table-hover">
  <thead>	
    <tr>  
      <th>#</th>
  		<th>Имя</th>
  		<th>Телефон</th>
  		<th>Дата и время</th>
  		<th>Мастер</th>
      <th>Цвет покраски волос</th>
  	</tr>
  </thead>

  <tbody>
    <% @row_with_user_info.each do |row| %>
    	<tr>
        <% row.each do |element| %>
          <td><%= element %></td>
        <% end %>
   		</tr>
    <% end %>
	</tbody>
</table>